<h1>学生身份验证</h1>
<%=alert%>


<%= form_tag ({:controller => "thuauth", :action => "auth_with_xls_and_get_name"}) do %>
<table>
  <tr>
    <td>用户名：</td>
    <td>
      <%=@username%>
      <%#*<input type="text" name="username" value="<%=  @username%>
    </td>
  </tr>
  <tr>
    <td>密码：</td>
    <td>
      <input type="password" name="password"/><br/>
    </td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><input type="submit" value="提交"/></td>
  </tr>
    <input type="hidden" name="redirect_to" value="<%=@redirect_to || params[:redirect_to]%>"/>
</table>
<%end%>

