<h1>学生身份验证</h1>
<%=alert%>


<%= form_tag ({:controller => "thuauth", :action => "auth_with_xls_and_get_name"}) do %>
学号：<br/>
<%=@username%><br/><br/>
<input type="hidden" name="username" value="<%=@username%>"/>
信息门户（Info）密码：<br/>
<input type="password" name="password"/><br/><br/>
<input type="submit" value="提交"/><br/>
    <input type="hidden" name="redirect_to" value="<%=@redirect_to || params[:redirect_to]%>"/>
<%end%>

