<h2>新用户注册</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages_translated! %>

  <%= label_for_login :employee_no %>
  <%= text_field_for_login :employee_no %>
 
  <% #TODO: 学生清华密码。姓名应由学生清华提供  %>

  <p><%= f.label :password, '“同享日程”密码' %><br />
    <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, '确认“同享日程“密码' %><br />
    <%= f.password_field :password_confirmation %></p>

  <%#*<p><a href="#" onClick="alert('TODO')">（TODO）为什么有两种密码？</a></p>%>

  <%=
    link_to_function"更多登录方式", nil, :id => 'more_login_link' do |page|
      page.visual_effect :toggle_blind, 'more_login', :duration => 0.5
    end
  %>

  <% if more_login_used? %>
    <div id="more_login">
  <% else %>
    <div id="more_login" style="display:none">
  <% end %>
    <% resource[:email] = '' if defined?(resource) && nil_email_alias?(resource[:email]) %>
      <p><%= f.label :email, '电子邮件（选填）' %><br/>
      <%= f.text_field :email %></p>

        <%= label_for_login :mobile %>
        <%= text_field_for_login :mobile %>
  </div>

  <p><%= f.submit "注册" %></p>

<% end %>

<%= render :partial => "devise/shared/links" %>



